[package]
name = "sifis-generate"
version = "0.2.0"
edition = "2018"
license = "MIT"
description = "Generate a new project for some build systems with the use of templates."
repository = "https://github.com/sifis-home/sifis-generate"
homepage = "https://github.com/sifis-home/sifis-generate"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
clap = { version = "3.0", features = ["derive"] }
license = "2"
minijinja = { version = "0.15", features = ["source"] }
serde = { version = "1", features = ["derive"] }
textwrap = "0.15"
arg_enum_proc_macro = "0.3.2"
lazy_static = "1.4"
